<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulário de Produto</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
</head>
<body>
    <h1 th:text="${produto.id != null} ? 'Editar Produto' : 'Novo Produto'"></h1>
    
    <form th:action="@{/produtos/salvar}" th:object="${produto}" method="post">
        <input type="hidden" th:field="*{id}"/>

        <label for="nome">Nome:</label>
        <input type="text" th:field="*{nome}" required="required"/>
        
        <label for="estoque">Estoque:</label>
        <input type="number" th:field="*{estoque}" required="required"/>

        <label for="preco">Preço:</label>
        <input type="number" step="0.01" th:field="*{preco}" required="required"/>

        <button type="submit">Salvar</button>
    </form>
    
    <a href="/produtos">Cancelar</a>
</body>
</html>
